html {
    font-family: Arial;
    display: inline-block;
    text-align: center;
}

title {
    font-size: 2.0rem;
}

h2 {
    font-size: 1.5rem;
    color: rgb(5, 11, 58);
}

p {
    font-size: 1rem;
    margin-top: 5px; /* Ajusta el margen superior del párrafo */
    margin-bottom: 5px; /* Ajusta el margen inferior del párrafo */
}

body {
    max-width: 600px;
    margin: 0px auto;
    padding-bottom: 25px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 120px;
    height: 68px;
    margin-left: 10px; /* Ajusta el margen para que el switch esté más cerca del label */
}

.switch input {
    display: none;
}

.slider1, .slider2 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 6px;
}

.slider1:before {
    position: absolute;
    content: "";
    height: 52px;
    width: 52px;
    left: 8px;
    bottom: 8px;
    background-color: #FFFFFF;
    transition: .4s;
    border-radius: 3px;
}

.slider2:before {
    position: absolute;
    content: "";
    height: 52px;
    width: 52px;
    left: 8px;
    bottom: 8px;
    background-color: #FFFFFF;
    transition: .4s;
    border-radius: 3px;
}

input:checked + .slider1 {
    background-color: #23D4FF;
}

input:checked + .slider2 {
    background-color: #58FE7D;
}

input:checked + .slider1:before {
    transform: translateX(52px);
    background-color: #4D95BD;
}

input:checked + .slider2:before {
    transform: translateX(52px);
    background-color: #40C35D;
}

input[type="range"] {
    width: 300px; /* Aumenta el ancho del deslizador */
    -webkit-appearance: none;
    appearance: none;
    height: 10px;
    background: #ccc;
    border-radius: 5px;
    outline: none;
}

input[type="range"]::-webkit-slider-thumb {
    width: 20px;
    height: 20px;
    background: #4CAF50;
    cursor: pointer;
    border-radius: 50%;
}

input[type="range"]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #4CAF50;
    cursor: pointer;
    border-radius: 50%;
}

.control {
    display: flex;
    justify-content: center; /* Centrar los elementos horizontalmente */
    align-items: center;
    margin: 10px 0;
    gap: 20px; /* Añade espacio entre los elementos */
}

label {
    font-size: 1.2rem;
    color: #333;
}

input[type="range"] {
    margin-left: 10px;
}
